#  Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

#  Environments 
# Ignore your local conda or venv folders
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
conda-env/
#Environment name
quan_re/


#  IDLEs 
# Spyder specific
.spyderproject/
.spyproject/
.directory


# Computational Chemistry
# PySCF
*.chk
*.tmp
pyscf_dump.json
# OpenFermion temporary files
*.pyc

# === Operating System ===
.DS_Store
Thumbs.db
*.log

